body {
  padding: 3rem 0;
}

.todo-list {
  list-style: none;
  padding: 0;
  border-top: solid 1px #ccc;

  li {
    border-bottom: solid 1px #ccc;
    padding: 0.75rem 0;
    display: flex;
    align-items: center;
  }
}

.toto-title {
  margin: 0 0.5rem;
  border-color: transparent;
  &:focus {
    border-color: #007bff;
  }
}

.btn-done {
  color: lightseagreen;
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.todo-list li {
  &:not(.done) {
    .btn-done {
      &:hover {
        color: lighten(lightseagreen, 10%);
      }
    }
  }
  &.done {
    .toto-title {
      text-decoration: line-through;
      color: #999;
    }

    .btn-done {
      opacity: 0.5;
      &:hover {
        color: lightseagreen;
      }
    }
  }
}

.btn-delete {
  color: darken(red, 10%);
  &:hover {
    color: red;
  }
}

.btn-done,
.btn-delete {
  border: 0;
  background: transparent;
  padding: 0;
}
